.contacts
				a.contact(href="tel:+88005553535")
					i.fa-solid.fa-mobile.contact__icon
					span.contact__text 88005553535
				a.contact(href="mailto:fedosihingerman@yandex.ru")
					i.fa-solid.fa-envelope.contact__icon.contact__icon--email
					span.contact__text fedosihingerman@yandex.ru
				a.contact(href="facebook.com")
					i.fa-brands.fa-facebook-f.facebook-icon